
body * {
    /* border: 1px solid purple; */
}

body {
    /* border: 5px solid pink; */
}

.container * {
    /* border: 1px solid purple; */
}

/* Start */


:root {
    --max-width: 800px;
    --size: 1.5rem;
    --font-size: 1.5rem; 


    --background-transition-speed: 500ms
}

.light {
    --background-color: white;
    --text-color: rgb(5, 5, 50);
}
.dark {
    --background-color: rgb(5, 5, 50);
    --text-color: white;
}

/* dark mode button */
/* Dark mode is controlled by adding dark or light class to body w/ javascripts */
#theme-toggle {
    border: 3px solid black;
    width: var(--size);
    height: calc(var(--size) * 1.5);
}
#theme-toggle, 
#dark-button-internal, 
#light-button-internal {
    position: absolute;
    top: 3px;
    right: 5px;
}

.light #dark-button-internal {
    opacity: 0%;
    transition: opacity 500ms;
}
.dark #light-button-internal {
    opacity: 0%;
    transition: opacity 500ms;
}
/* ------ */


body, .main-button-container{
    background-color: var(--background-color);
    transition: background-color 500ms;
}

* {
    font-size: calc(var(--font-size) * 1);
}
/*  */





#main-div {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.container {
    /* border: 1px solid magenta; */
    
    width: 100%;
    max-width: var(--max-width);
    /* background-color: pink; */
    
}





#title {
    text-align: center;
    text-decoration: underline;
    font-size: calc(var(--font-size) * 1.2);


    color: var(--text-color);
    transition: color 600ms;
    
}



.main-button-container {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    background-color: var(--background-color);

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */

    /* border: 1px solid purple; */


    
}
.main-button {
    width: 100%;
    height: 100%;
    padding: calc(var(--size) * 0.66);


    /* background-color: rgb(56, 0, 130);  */
    /* color: ivory; */

    /* border: 2px solid rgb(0, 71, 163); */
    border-radius: 0.3rem;


    align-self: flex-start;

}
.loading-image-container {

    /* height: calc(var(--size) * 2); */
    /* height: var(--size); */
    width: var(--size);
    margin-left: 8px;
    /* margin-left: 0.5rem; */
}

.loading-image {
    display: block;
    display: none;
    width: 100%;
    height: 100%;
}



.output-area li{
    margin-bottom: 30px;
    line-height: 0.85;

    /* text-align: center; */

    color: var(--text-color);
    transition: color 600ms;
}


