/* @import "../../Site-1/styles/fonts.css"; */

*{
    font-size: larger;
    /* font-family:'Times New Roman', Times, serif; */
    font-family:Arial, Helvetica, sans-serif;
    
}

body > div {
    max-width: 1000px;
    margin-left:auto;
    margin-right: auto;
}

#input-form {
    display:flex;
    flex-wrap: wrap;
    width: 100%
}

#input-form * {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right:5px;
    
}

#input-form #x {
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    /* width:30px; */
}




#output-area{
    margin-top: 30px;
    font-size: 200%;
}



#form2-area{
    display:flex;
}
#form2-output {
    /* border: 1px solid black; */

}
#form2-seperator {
    border: 1px solid black;
    margin: 0px 40px;

}


hr {
    margin:10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#radio-form input[type=submit]{
    margin-top:20px;
}





input[type=submit] {
    border-radius: 10px;
    padding: 4px 10px;
}