body {
    background-color: rgba(0, 0, 255, 0.664);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 116, 227)
}
p {
    color: white;
}

a {
    color:aquamarine;
}

/* ------------------------- */



span {
    color: lime;
}

div#parent-div{
    color: yellow;
}

#parent-div {
    color: orange;
}



