@import "fonts.css";


/* Font and color variables.... */
:root {
    --dark-color: #1F2937;
    --grey-color: #E5E7EB;
    --light-color: auto(); /* Dont know if this works or not (not tested) */
    --white-color: #F9FAF8;
    --action-color: #3882F6;


    
    /* Below this is WIP */
    /*(may be dumb idk(could just target elements directly....) */
    --header-background-color: var(--dark-color);
    --hero-background-color: var(--dark-color);
    
    --main-text-color: var(--white-color);
    --main-text-size: 48px;
    --main-text-weight: 900;

    --secondary-text-color: var(--grey-color);
    --secondary-text-size: 18px;
    --secondary-text-weight: 300;

    --button-background-color: var(--action-color);
    --call-to-action-background-color: var(--action-color);

    --information-background-color: auto() ;   /* Not sure if this works (not tested)*/

    --information-header-text-color: var(--dark-color);
    --information-header-text-size: 36px;
    --information-header-text-weight: 900;
    
    
    --quote-section-background-color: var(--grey-color) ;

    --quote-text-color: var(--dark-color);
    --quote-text-size: 36px;
    --quote-text-weight: 300;
    --quote-text-style: italic;

}

* {
    font-family: "Roboto";   /* This is installed locally and imported at the top*/
}



/* * {border: 0.5px solid blue;} */
/* body {border: 4px solid orange;} */
/* html {border: 2px solid green;} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    /* ^ this doesnt feel like its working    BUG*/
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container {
    /* width: 700px; */
    display: flex;
    justify-content:center;
    
    
    /* for testing */
    /* border: 2px solid purple;` */
    /* margin: 10px; */

    
}

.container > *{
    /* width: 100%; */
    width:1020px;


    /* For testing */
    /* border: 2px solid cyan; */
    margin: 5px;
}




/* Header */

.header-container{
    background-color: var(--dark-color);
}


.header-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:18px;

}

.header-container .header .header-links{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */

    margin-right:5px;
}

.header-container .header .header-links * {
    margin-left: 25px;
    
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB

}

.header-container .header .logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;

}




/* Hero */

.hero-container {
    background-color: var(--dark-color);
}

.hero-container .hero{
    margin-top: 100px;
    margin-bottom: 125px;

    display: flex;
    /* justify-content: space-between; */

}

.hero .hero-image {
}

.hero .hero-text {
    margin-right: 50px;
}

.hero .hero-text .signup-button {
    margin-top: 10px;
    /* Sign up button is defined on its own further down */
}

.hero-container .hero-text .hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-container .hero-text .hero-secondary-text {
    font-size: 18px;
    font-weight: 300;
    color:  #E5E7EB;
}


.signup-button {
    background-color: var(--call-to-action-background-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;
    
    border: none;
    padding: 8px 35px;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.4s;
}
.signup-button:hover{
    background-color: var(--grey-color);
    color: var(--dark-color);
}






/* Colors & Fonts */

* {
    font-family: "Roboto";   /* This is installed locally and imported at the top*/
}







