@import "fonts.css";


/* * {border: 0.5px solid blue;} */
/* body {border: 4px solid orange;} */
/* html {border: 2px solid green;} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    /* ^ this doesnt feel like its working    BUG*/
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container {
    /* width: 700px; */
    display: flex;
    justify-content:center;
    
    
    /* for testing */
    /* border: 2px solid purple;` */
    /* margin: 10px; */

    
}

.container > *{
    /* width: 100%; */
    width:1010px;


    /* For testing */
    /* border: 2px solid cyan; */
    margin: 5px;
}




/* Header */


.header-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:17px;

}

.header-container .header .header-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .header .header-links * {
    margin-left: 30px;
    
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB

}

.header-container .header .logo {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;

}




/* Hero */

/* replace div with hero once that is being worked on */
.hero-container div{
    margin-top: 70px;
}



/* Colors & Fonts    Actually I will probably not have a seperate section for this*/

* {
    font-family: "Roboto";   /* This is installed locally and imported at the top*/
}


.header-container, .hero-container {
    background-color: #1F2937;
    color: white;
}







